@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    display: flex;
    height: 350vh;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

h1 {
    font-family: "Young Serif", serif;
}

p {
    font-family: "Outfit", sans-serif;
}

.container {
    font-family: "Outfit", sans-serif;
    background-color: white;
    width: 650px;
    height: 2010px;
    border-radius: 20px;
}

.container2 {
    color: hsl(24, 5%, 18%);
    padding: 10px;
    background-color: hsl(330, 100%, 90%);
    border-radius: 15px;
    width: 575px;
    margin-left: 25px;
}

.nome-container2 {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
}

img {
    border-radius: 20px;
    width: 590px;
    height: 300px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
hr {
    width: 600px;
}
ol{
    margin-left: 50px ;
}